{% extends 'base.html' %}
{% block title %}关于本站{% endblock %}
{% block content %}
  <div class="text-center">
    <h1 class="my-4">「关于本站」</h1>
    <p class="my-4">索思网（Soth）是一个博客网站，你可以在上面发表博客，阅读他人的博客。但前提是别人要把他们的博客设为公开。</p>
    <p class="my-4">你可以注册账户，来让自己获得使用本站的权限。</p>
    <p class="my-4">不要试图查看别人设为不公开的博客。网站有管理机制，会将你列入失信名单。</p>
    <p class="my-4">本站从2021年9月开始构思， 到2021年12月4日正式上线，经过了3个月的开发与调试，终于实现了它的全部功能，把它奉献给了用户。</p>
    <h1 class="my-4">「关于作者」</h1>
    <p class="my-4">我是张亦逊，11岁，现就读于北京市三帆中学附属小学。</p>
    <p class="my-4">从2020年疫情时起，由于上网课的需求，我开始<strong>自学</strong>研究编程。</p>
    <p class="my-4">在一年的时间里，我初步掌握了C++语言。参加了2020年西城区创意大赛，获得二等奖。</p>
    <p class="my-4">然后我开始研究Python，专注于Django Web框架。</p>
    <p class="my-4">2021年，为参加西城区创意编程大赛，我编写了索思网。</p>
    <p class="my-4">在两年的编程生涯里，我一直是靠自己买书自学，未受到过家长的指导，未参加任何编程培训班。</p>
  </div>
{% endblock %}